<form [formGroup]="signupForm" class="row" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>Register</legend>
    <div class="col-12 mb-3">
      <input formControlName="firstName" type="text" class="form-control" id="firstName"
             placeholder="Enter your firstName"/>
    </div>
    <div class="col-12 mb-3">
      <input formControlName="lastName" type="text" class="form-control" id="lastName" placeholder="Enter LastName"/>
    </div>
    <div class="col-md-12 mb-3">
      <input formControlName="username" type="text" class="form-control" id="username" placeholder="Enter Username"/>
      <div *ngIf="errorByControlName('username','required')">
        <span>This field cannot be empty</span>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <input formControlName="password" type="password" class="form-control" id="password"
             placeholder="Enter Password"/>
      <div *ngIf="errorByControlName('password','required')">
        This field cannot be empty
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <input formControlName="passwordConfirm" type="passwordConfirm" class="form-control" id="passwordConfirm"
             placeholder="Confirm Password"/>
      <div *ngIf="errorByControlName('passwordConfirm','required')">
        This field cannot be empty
      </div>
    </div>
    <div class="col-12 mb-3">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter Email"/>
      <div *ngIf="errorByControlName('email','required')">
        This field cannot be empty
      </div>
      <div *ngIf="errorByControlName('email','email')">
        Enter a correct Email
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="row justify-content-center">
        <div class="col">
          <button id="login-button" class="btn btn-primary col">Cancel</button>
        </div>
        <div class="col">
          <button id="submit-button" type="submit" [disabled]="!signupForm.valid" class="btn btn-primary col">Submit
          </button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
